html, body{
    margin: 0;
    min-height: 100%;
    font-family: "Fugaz One", Arial;
}

body{
    background-image: linear-gradient(hsl(220, 50%, 76%), hsl(220, 50%, 56%));
}

.menu{
    margin: auto;
    padding-bottom: 0.2em;
    width: 50%;
    height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    background-color: hsla(0, 0%, 20%, 0.5);
    border-radius: 5vh;
}

.menuBR{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: none;
    font-size: 0.7rem;
}

.menuBR label{
    border: 1px solid #707070;
    background-image: linear-gradient(to bottom, #e9e9e9,#d7d7d7);
    color: hsl(0, 0%, 10%);
    padding: 0.2em 0.3rem;
}

.menuBR label:hover{
    background-color: #a6f4ff;
    background-image: none;
    border-color: #26a0da;
}

.menuBR label:active{
    background-color: #34b4e3;
    background-image: none;
    border-color: #0089b4;
}

.menuBR input{
    display: none;
}

.positioning{
    width: 100%;
    height: 100%;
    position: absolute;
    align-content: center;
}

#container{
    margin: auto;
    display: none;
    /* border: 2px solid black; */
}

img{
    /* transform: rotate3d(1, 1, 1, 1000turn); */
    transform-origin: center center;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 100ms;
    /* border: 3px solid red; */
    box-sizing: border-box;
}

.superSneakyCheckboxForAwesomeSpinMode{
    position: absolute;
    display: none; /*changes to flex with js*/
    align-items: center;
    bottom: 1rem;
    left: 1rem;
    /* border: 2px solid black; */
    font-family: "Fugaz One", Arial;
    font-style: italic;
    letter-spacing: 3px;
    color: hsla(237, 19%, 43%, var(--alpha));
    --alpha: 0.2;
    transition: var(--alpha);
}

.superSneakyCheckboxForAwesomeSpinMode:hover{
    cursor: pointer;
    --alpha: 1;
}

input[type="checkbox"]{
    appearance: none;
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.3em;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid hsla(135, 61%, 60%, var(--alpha));
    background-color: hsla(153, 22%, 36%, var(--alpha));
}

input[type="checkbox"]::before{
    width: 1em;
    height: 1em;
    background-color: hsla(135, 61%, 60%, 0);
    transform: scale(0);
    content: "↺";
    display: flex; /* Ensure flexbox applies here too */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: rgba(255, 255, 255, var(--alpha));
}

input[type="checkbox"]:checked::before{
    transform: scale(1);
}

input[type="checkbox"]:checked:hover{
    background-color: hsla(135, 61%, 60%, var(--alpha));
}

input[type="checkbox"]:hover{
    animation: chnage 0.3s forwards;
}

input:hover{
    cursor: pointer;
}

label{
    user-select: none;
}

label:hover{    /*IDK why but this is required*/
    cursor: pointer;
}